Sphinx==4.4.0
alabaster==0.7.16
beautifulsoup4==4.12.2
docutils==0.17.1
furo==2022.3.4
imagesize==1.4.1
jieba==0.42.1
markdown==3.5.2
markdown-it-py==2.2.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
myst-parser==0.18.1
snowballstemmer==2.2.0
soupsieve==2.5
sphinx-design==0.3.0
sphinx-favicon==0.2
sphinx-markdown-tables==0.0.17
sphinx-sitemap==2.5.1
sphinx_copybutton==0.5.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing-extensions==4.9.0